main{
	height:100vh;
	width:100vw;
}
footer{
	right:0;
	bottom:0;
	position:fixed;
	margin:1.5rem;
}
.info{
	position:relative;
	left:50px;
	top:150px;
	width:55%;
}
#job-title{
	color:white;
	font-weight:bolder;
	font-size:2rem;
	padding-bottom:10px;
}
#main-info{
	font-size:1.8rem;
}
.contacts{
	padding-top:30px;
}

.skills-c{
	left:0;
	position:relative;
	padding-top:40px;
}
#skill-title{
	color:red;
	font-size:2rem;
}
#skill-icons{
	background-color:white;
}
