main{
	height:100vh;
	width:100vw;
}
footer{
	right:0;
	bottom:0;
	position:fixed;
	margin:1.5rem;
}
.info{
	position: relative;
    justify-content: center;
    top: 150px;
    display: flex;
    width: 100vw;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    align-content: center;
	color:#828282;
	font-family: Neue Haas Unica W1G,sans-serif;
}
#job-title{
	color:#d6d6d6;
	font-size:1.3rem;
	padding-bottom:10px;
}
#main-info{
	font-size:1.6rem;
	font-style: italic;
    font-weight: lighter;
}
.contacts{
	padding-top: 30px;
    text-align: left;
}

.skills-c{
	left:0;
	position:relative;
	padding-top:80px;
}
#skill-title{
	color:#e7e7e7;
	font-size:1.2rem;
	padding:5px;
	text-align:center;
}
#skill-icons{

}
#email{
	color:#dfdfdf;
}

@media (max-width: 800px) {
.info{
	top:50px;
	text-align: center;
 }
#main-info {
    font-size: 1.1rem;
 }
#job-title{
	padding-bottom:50px;
}
}