main{
	height:100vh;
	width:100vw;
    overflow-x: auto;
    overflow-y:hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.slider{
    background-color:grey;
    display:inline-flex;
    height:100%;
    width:100%;
    cursor:grab;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.slider:active {
    cursor: grabbing;
}

.slider::-webkit-scrollbar {
    display: none;
}

.test{
  flex-shrink:0;
  overflow:hidden;
  height:auto;
  width:auto;

}
.item-item-2{
    background-color: orange;
}



